
.title {
  font-family: "Gill Sans", sans-serif;
  color: whitesmoke;
  padding: 10px;
}

p {
  font-family: sans-serif;
  color: whitesmoke;
  font-size: large;
}

input {
  font-family: sans-serif;
  color: whitesmoke;
}

.field {
  font-family: sans-serif;
  color: black;
}

label {
  font-family: sans-serif;
  color: whitesmoke;
}

.button-text {
  color: black;
}

legend {
  font-family: sans-serif;
  color: whitesmoke;
}

fieldset {
  padding: 15px;
  margin: 5px;
}


.background {
  background-color: rgb(53, 52, 52);
  background-size: cover;
  text-align: center;
  margin: 25%
}

.block {
  padding: 50px;
  border-style: double;
  border-width: 8px;
  background-color: whitesmoke;
}

.madlib-text {
  color: black;
  font-family: fantasy;
  font-size: larger;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}
