{% extends 'base.html' %}

{% block title %}compliment{% endblock %}

{% block content %}

<p>Hi {{ person }}! </p>
<p>
  I think you're

  {% for compliment in compliments %}

  {% if loop.length == 1 %}
  {{ compliment }}
  {% endif %}

  {% if loop.length == 2 %}

  {% if loop.first %}
  {{ compliment }}
  {% elif loop.last %}
  and {{ compliment }}
  {% endif %}
  {% endif %}

  {% if loop.length > 2 %}

  {% if loop.last %}
  and {{ compliment }}!
  {% else %}
  {{ compliment }},
  {% endif %}

  {% endif %}
  {% endfor %}
</p>

<form action="/game">
  <p>Would you like to play a game?</p>
  <div>
    <input type="radio" id="yes" name="yes_no" value="yes">
    <label for="yes">Yes</label>
  </div>
  <div>
    <input type="radio" id="no" name="yes_no" value="no">
    <label for="no">No</label>
  </div><br>
  <input class="button-text" type="submit" value="Submit">
  </button>
</form>

{% endblock %}