{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block content %}

<p>Please choose a person, a color, an emotion, an adjective, and an animal.</p>

<form action="/madlib">
  <div>
    <fieldset>
      <label>Enter a person's name: </label>
      <input class="field" type="text" name="person_name">
    </fieldset>
  </div><br>

  <fieldset>
    <legend>Choose a color:</legend>
    <div>
      <input type="radio" id="color" name="color" value="red">
      <label for="red">red</label>
    </div>
    <div>
      <input type="radio" id="color" name="color" value="blue">
      <label for="blue">blue</label>
    </div>
    <div>
      <input type="radio" id="color" name="color" value="purple">
      <label for="purple">purple</label>
    </div>
    <div>
      <input type="radio" id="color" name="color" value="orange">
      <label for="orange">orange</label>
    </div>
  </fieldset><br>
  <fieldset>
    <div><label for="emotion-select">Choose an emotion: </label>
      <select name="noun" id="emotion-select">
        <option value="">Select one:</option>
        <option value="scared 😱">Scared</option>
        <option value="surprised 😮">Surprised</option>
        <option value="crazy 🤪">Crazy</option>
      </select>
    </div>
  </fieldset><br>
  <fieldset>
    <div><label>Enter an adjective:</label> <input class="field" type="text" name="adjective"></div>
  </fieldset><br>
  <fieldset name="pets" id="pet-select">
    <legend>Choose one or more animals:</legend>
    <input type="checkbox" id="dog 🐶" name="pets" value="dog 🐶">
    <label for="dog 🐶">Dog</label>
    <input type="checkbox" id="cat 🐈" name="pets" value="cat 🐈">
    <label for="cat 🐈">Cat</label>
    <input type="checkbox" id="hamster 🐹" name="pets" value="hamster 🐹">
    <label for="hamster 🐹">Hamster</label>
    <input type="checkbox" id="parrot 🦜" name="pets" value="parrot 🦜">
    <label for="parrot 🦜">Parrot</label>
    <input type="checkbox" id="" name="pets" value="spider 🕷">
    <label for="spider 🕷">Spider</label>
    <input type="checkbox" id="fox 🦊" name="pets" value="fox 🦊">
    <label for="fox 🦊">Fox</label><br>
  </fieldset><br><br>
  <input class="button-text" type="submit" value="Submit">
  </button>
</form>

{% endblock %}