{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block content %}

<p>Please enter a person, a color, a noun, and an adjective.</p>

<form action="/madlib">
  <div><label>Person:</label> <input type="text" name="person_name"></div><br>
  <p>Choose a color:</p>
  <div>
    <input type="radio" id="color" name="color" value="red">
    <label for="red">red</label>
  </div>
  <div>
    <input type="radio" id="color" name="color" value="blue">
    <label for="blue">blue</label>
  </div>
  <div>
    <input type="radio" id="color" name="color" value="purple">
    <label for="purple">purple</label>
  </div>
  <div>
    <input type="radio" id="color" name="color" value="yellow">
    <label for="yellow">yellow</label>
  </div><br>
  <div><label>Noun:</label> <input type="text" name="noun"></div><br>
  <div><label>Adjective:</label> <input type="text" name="adjective"></div><br>

  <label for="pet-select">Pet:</label>
  <select name="pets" id="pet-select">
    <option value="">--Please choose an option--</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
  </select><br><br>
  <input class="button-text" type="submit" value="Submit">
  </button>
</form>

{% endblock %}